table {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    table-layout: fixed
    // border: solid black 1px;
}

#form-input-div{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.form_row{
    display: flex;
    flex-direction: column;
}

.submit-btn{
    height: 30px;
}