{% extends 'base.html.twig' %}

{% block title %}Habitats index
{% endblock %}

{% block body %}
	<h1>Hébergement répondant à un critère</h1>
{% set i = 0 %}
	{% for habitat in habitats %}

    {% if i == 0 %}
     <div class="row ligne_liste_habitats">
    {% endif %}

    <div class="col-lg-3">
        <img src="https://www.crem.fr/wp-content/uploads/2013/01/sample-img.png" alt="Girl in a jacket" width="100%" height="80%">
		<p class="liste_habitat_titre">{{ habitat.libelle }}</p><p class="liste_habitat_prix">50€/nuit</p>
    </div>

    {% set i = i + 1 %}

    {% if i == 4 %}
        </div>
        {% set i = 0 %}
    {% endif %}

	{% else %}
		<span colspan="9">no records found</span>
	{% endfor %}
<a href="{{ path('app_habitats_new') }}">Create new</a>{% endblock %}
