{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
   {{ encore_entry_link_tags('politiques') }}
{% endblock %}




{% block title %}MENTIONS LÉGALES  {% endblock %}

{% block main %}

	{% import 'breadcrumbs.html.twig' as breadcrumbs %}
{{ breadcrumbs.render([
    {'url': url('app_home'), 'text': 'Accueil'},
    {'url': url('app_mentionlegale'), 'text': 'Mentions légales'},
]) }}

<section class ="container-legal" > 

<div class="legal-info" > 

<h4> MENTIONS LÉGALES </h4> 

<p>Dénomination sociale : AtypikHouse  </p>
<p> Siège social : 5 Rue de Lisbonne, 75008 Paris </p>
<p>Statut juridique : SARL </p>
<p>Capital social : 10 000 € </p>
<p>Numéros RCS : RCS Paris A 345864218 </p>
<p>SIREN : 521 722 519 </p>
<p>SIRET : 521 722 519 00025 </p>
<p>APE/NAF : 68.20A </p>
<p> Numéro de TVA intracommunautaire : FR 13 521722519 </p> 


<h4> Hébergeur :  </h4> 


<p>Hébergeur 1&1 IONOS</p>
<p> SE Elgendorfer Str. 57 </p>
<p>56410 Montabaur</p>
<p>Allemagne </p>
<p>CGU/CGV </p>


  <h4>Propriété intellectuelle : </h4> 


<p>
Tout contenu publié et mis à disposition sur ce site est la propriété d’AtypikHouse et de ses créateurs.
Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.

  </p> 



  <h4>Utilisateurs du site :  </h4> 

  <h5> Les visiteurs :  </h5> 


<p>


Est considéré comme visiteur, un utilisateur qui n’a pas créé de compte client sur le site.
Ils ont accès à toutes les pages du site et peuvent effectuer une réservation, payer en ligne, laisser des commentaires et créer un compte client.

</p> 
 <h5> Les clients locataires :   </h5> 



<p> On considère ici comme client, un visiteur qui a déjà créé un compte client.
Ils ont les mêmes accès et possibilités d’action qu’un simple visiteur qui n’a pas de compte. Mais en se connectant à leur compte à l’aide de leurs identifiants (adresse mail et mot de passe), ils pourront à partir de leur tableau de bord :
ajouter, modifier ou supprimer leurs infos personnelles, consulter l’historique et le suivi de leurs réservations, annuler leurs réservations en cours. </p> 


<h5> Les clients hôtes :  </h5> 

<p>
on considère ici comme hôte, un visiteur qui a déjà créé un compte en tant qu’hôte pour proposer au moins une location d’hébergement.
Comme les clients locataires, ils ont les mêmes accès et possibilités d’action qu’un simple visiteur mais en se connectant à leur compte, ils pourront : </p> 

<p> 

modifier leur profil d’hôte, créer, modifier ou supprimer des annonces , consulter l’historique des réservations et le statut des réservations en cours, consulter leurs statistiques.

En interagissant sur notre site, que ce soit pour déposer un commentaire ou une annonce, vous acceptez nos conditions d’utilisation et vous engagez à ne pas agir illégalement. <br> 

Lorsque vous créez un compte sur notre site, vous acceptez que :
Vous êtes seul responsable de la sécurité et de la confidentialité de votre compte, y compris les mots de passe et les données personnelles sensibles toutes les informations personnelles que vous transmettez sur ce site sont exactes et à jour. En cas de 
changement, vous vous engagez à faire les modifications pour le suivi de votre compte client.
Nous nous réservons le droit de suspendre temporairement ou de supprimer définitivement votre compte si vous utilisez notre site illégalement ou si vous violez nos conditions d’utilisation.
Ventes des biens et services </p> 


<h5> Les services que nous offrons comprennent : </h5> 

<p> - Location d’hébergement insolite </p> 

<p> - Prestation de services événementiels </p>  

<p> 

Les services liés à ce document sont les services qui sont affichés sur notre site au moment où vous y accédez. Toutes les informations, descriptions ou images que nous fournissons sur nos services sont décrites et présentées avec précision. Cependant, nous ne 
sommes pas légalement tenus par ces informations, descriptions ou images car nous ne pouvons pas garantir l’exactitude de chaque produit ou service que nous fournissons.
Modalités de paiement :
Nous acceptons les modes de paiement suivants sur ce site :
Virement bancaire. </p> 


<h4> Autres moyens hors site : </h4> 


<p> 
Chèque envoyé par courrier ou à régler sur place.
En fournissant vos informations de paiement, vous confirmez que vous nous autorisez à facturer le montant dû lors de votre réservation. Si nous estimons que votre paiement a violé une loi ou l’une de nos conditions d’utilisation, nous nous réservons les 
Modalités d’annulation ou de remboursement Titre de l’onglet

Pour chaque bien proposé en location, il y a un délai d’annulation fixé par le propriétaire. Pendant ce délai, vous pouvez annuler votre réservation à tout moment sans frais supplémentaires. Passé ce délai, en cas d’annulation vous ne serez pas remboursé.


  </p> 




<h4>Lois applicables :  </h4> 


<p> 
Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires. Cela inclut la réglementation à l’échelle de l’Union Européenne énoncée dans le RGPD (Règlement général sur la protection des données).
Limitation de responsabilité:

En cas de problème survenu lors de l’utilisation de notre site, la responsabilité reviendra à AtypikHouse, à condition que cela ne relève pas d’une utilisation inappropriée, illégale ou contraire à nos conditions d’utilisation. En cas de violation de nos 
conditions d’utilisation, AtypikHouse ne sera pas tenu pour responsable.

La société AtypikHouse ne pourra être tenue responsable des dommages directs et indirects causés au matériel du visiteur, lors de l’accès au site, ou résultant de l’utilisation d’un matériel défectueux ou encore de l’apparition d’un bug ou d’une incompatibilité.

En tant qu’utilisateur, en acceptant nos conditions générales d’utilisation et de vente, en connaissance de cause et sans aucune réserve, vous déchargez la société AtypikHouse de toute responsabilité, cause d’action, dommage ou dépense découlant de votre 
utilisation de ce site ou de votre violation de l’une des dispositions énoncées ci-dessus.


  </p> 



 

</div>


</section>


{% endblock %}
