{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!{% endblock %}

{% block content %}
<div class="d-flex justify-content-arround">
    <h1>Hello ! ✅</h1>
    <div class="col">
        <a href="{{ path('hote_accueil') }}" class="btn btn-outline-secondary">Devenir hôte</a>
    </div>
</div>
{% endblock %}
