#main-container {
    margin: 2%;
}

tbody tr {
    height: 50px;
    border-top: 5px solid transparent;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

tbody td {
    vertical-align: middle;
}

table {
    width: 100%;
    text-align: center;

}

.vignette {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

a.green-text {
    color: #2b7929;
}
a.green-text:hover {
    color: #b87247;
}

a.btn {
    background-color: #2b7929;
    border-color: #2b7929;
}
a.btn:hover {
    background-color: #b87247;
    border-color: #b87247;
}