tbody tr {
    height: 50px;
    border-top: 5px solid transparent       ;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

tbody td {
    vertical-align: middle;
}

table {
    width: 100%;
    text-align: center;

}