#main-container {
    margin: 0 2%;
}

.titre_liste_habitats {
    width: fit-content;
}

.btn_filtre_liste_habitats {
    width: fit-content;
}

.ligne_liste_habitats {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.liste_habitat_titre {
    float: left;
    margin: 0;
    width: 100%;
    text-align: left;
}

.liste_habitat_lieu {
    text-align: left;
}

.liste_habitat_prix {
    float: right;
}

.div_titre_et_lieu {
    width: fit-content;
    float: left;
}

.btn_filtre_liste_habitats {
    box-shadow: 0px 10px 14px -7px #ffffff;
    background-color: #1D5D2D;
    border-radius: 4px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    width: fit-content;
    height: fit-content;
    margin-right: 50px;
}

.btn_filtre_liste_habitats:hover {
    background-color: white;
    color: #2f6627;
}

.btn_filtre_liste_habitats:active {
    position: relative;
    top: 1px;
}

.titre_liste_habitats {
    width: fit-content;
}

.div_titre_filtre {
    align-items: center;
    place-content: space-between;
}

.flatpickr-calendar {
    right: -210px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result_destinations{
    background-color: #FFF;
    color: #535353;
    margin-top: 6px;
    position: absolute;
    z-index: 2000;
    box-shadow: -1px 2px 10px 0px rgb(0 0 0 / 27%);
    display: none;
    width: fit-content;
    min-width: 200px;
    bottom: -70px;
}

#result_destinations ul {
    padding-left: 10px;
}

#result_destinations li {
    color: #535353;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    border-bottom: 1px solid #CCC;
}

#result_destinations li:hover {
    background-color: #B87247;
}

.form-input {
    border: solid 1px black;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination {
    justify-content: center;
    span {
        background-color: #2b7929;
        color: #ffffff;
        border: black 1px solid;
        padding: 5px;
        min-width: 35px;
        text-align: center;
    }
    a {
        background-color: #2b7929;
        color: #ffffff;
    }
    .current {
        color: #2b7929 !important;
        background-color: #ffffff !important;
    }
}

.displayed-card {
    display: block;
    cursor: pointer;
    // max-width: 1000px;
    // max-height: auto;
    // flex-direction: column;
    // justify-content: space-around;
    // min-width: 200px;
    // height: 140px;
    // box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.displayed-card, .displayed-card:hover, a.displayed-card:focus, .displayed-card:active {
    text-decoration: none;
    color: #616161;
}

.selected, a.selected {
    color: #998763!important;
}

// #date-picker {
//     width: 100%;
// }

.flatpickr-calendar {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) { 

    .ligne_liste_habitats {
        text-align: -webkit-auto;
        margin-left: 170px;
        margin-right: 170px;
    }

    .div_titre_filtre {
        align-items: center;
        place-content: normal;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .btn_filtre_liste_habitats { 

        padding-left: 50px;
        padding-right: 50px;
    }

    .flex {
        margin-bottom: 30px;
    }

    .form-select , .form-control  {
        width: 60%;
    }

    .modal-footer {
        justify-content: center;
    }
}
    @media (min-width: 1024px) and (max-width: 1300px) { 

        .row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .ligne_liste_habitats {
            text-align: -webkit-auto;
            margin-left: 0px; 
            margin-right: 0px;
        }


        .div_titre_filtre {
            align-items: center;
            place-content: space-between;
        }
    }


    @media (min-width: 320px) and (max-width: 767px) {
        

        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: nowrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            flex-direction: column;
        }

        .btn_filtre_liste_habitats {
          
            padding: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
          
        }
        
        .displayed-card, .displayed-card:hover, a.displayed-card:focus, .displayed-card:active {
            text-decoration: none;
            color: #616161;
            padding: 30px;
        }
        .form-select {
            width: auto;
        }

        .form-control {
            display: block;
            width: auto;
        }
    }