#main-container {
    margin: 2%;
}

.img-fluid {
    cursor: pointer;
}

.image-side img {
    width: 200px;
    min-height: 150px;
}

.image-central img {
    width: 400px;
    min-height: 250px;
}

.separator {
    color: #2b7929;
    width: 100%;
}

.horizontal-lign {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.profile-picture {
    width: 8%;
}

.card {
    background-color: #e4e0d9;
}

#divPrix {
    border-width: 2px;
    border-color: #2b7929;
}

#divPrix>label {
    color: #998763;
}

#divPrix>span {
    color: #2b7929;
}

div.flatpickr-wrapper {
    width: 100%;
}

#form-reservation button.btn {
    background-color: #2b7929;
    border-color: #2b7929;
}  


@media (min-width: 768px) and (max-width: 1024px) {


    .fs-2 {
        font-size: 25px !important;
    }

    .col-5 {
        flex: 0 0 auto;
        width: 45.666667%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .title-top {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .text-Habitat { 
        padding-left: 50px;
        padding-right: 50px;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
        padding-left: 50px;
        margin-bottom: 20px;
    }
}