#form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 18px;
}

#form-input-div {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#form-input-div > div:not(.btn-div){
    width: 40%;
    justify-content: space-between;
}

input:not([type='checkbox']) {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0px;
    width: 100%;
}

input[type='checkbox'] {
    margin: 0 8px;
    vertical-align: middle;
}

#form-btn-div, .btn-div{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}