#main-container {
    margin: 2%;
}

.img-fluid {
    cursor: pointer;
}

.image-side img {
    width: 200px;
}

.image-central img {
    width: 400px;
}

.separator {
    color: #2b7929;
    width: 100%;
}

.horizontal-lign {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.profile-picture {
    width: 8%;
}

.card {
    background-color: #e4e0d9;
}

#divPrix {
    border-width: 2px;
    border-color: #2b7929;
}

#divPrix > #labelPrix {
    color: #998763;
}
#divPrix > span {
    color: #2b7929;
}

div.flatpickr-wrapper {
    width: 100%;
}

#form-reservation button.btn {
    background-color: #2b7929;
    border-color: #2b7929;
}  