#form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 18px;
}

#form-input-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 40%;
    justify-content: space-between;
}

input:not([type='checkbox']), textarea, select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0px;
    width: 100%;
    height: auto;
    overflow: auto;
}

input[type='checkbox'] {
    margin: 0 8px;
    vertical-align: middle;
}

#form-btn-div {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

// #div-images > div {
//     width: 100%;
//     height: auto;
// }

#btnShowImages, #btnAddNewImage {
    width: 100%;
    margin-bottom: .1rem;
}

#div-equipements ul, #div-informationsPratiques ul {
    background-color: #eee;
    overflow: auto;
    max-height: 200px;
}
#div-equipements li > div, #div-informationsPratiques li > div {
    display: flex;
    justify-content: space-between;
}

.small {
    font-size: small;
}