html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #e4e0d9 !important;
}

.green-text {
    color: #2B7929 !important;
}
    .green-text:hover {
        color: #b87247 !important;
    }
.orange-text {
    color: #b87247 !important;
}
.brown-text {
    color: #998763 !important;
}
.border-success {
    border-color: #2b7929!important;
}

#main-container {
    margin: 0 auto;
    max-width: 2000px;
}

.site-background-color{
    background-color: #e4e0d9 !important;
}

button {
    // background-color: #2b7929;
    // color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 4px 16px;
}
//     button:hover {
//         background-color: #998763;
//         color: white;
//     }

.selected, a.selected {
    color: #998763!important;
}

button.btn-primary, input.btn-primary, a.btn-primary,
button.btn-secondary, input.btn-secondary, a.btn-secondary {
    background-color: #2b7929;
    border-color: #2b7929;
    color: white;
}
    button.btn-primary:hover, input.btn-primary:hover, a.btn-primary:hover,
    button.btn-secondary:hover, input.btn-secondary:hover, a.btn-secondary:hover {
        background-color: #b87247;
        border-color: #b87247;
        color: white;
    }

button.btn-outline-primary, input.btn-outline-primary, a.btn-outline-primary,
button.btn-outline-secondary, input.btn-outline-secondary, a.btn-outline-secondary {
    color: #2b7929;
    border-color: #2b7929;
}
    button.btn-outline-primary:hover, input.btn-outline-primary:hover, a.btn-outline-primary:hover,
    button.btn-outline-secondary:hover, input.btn-outline-secondary:hover, a.btn-outline-secondary:hover {
        color: white;
        background-color: #2b7929;
        border-color: #2b7929;
    }

@media only screen and (max-width:1200px) {
    .container-80 {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:992px) {
    .container-80 {
        width: 90%;
    }
}

@import "~bootstrap/scss/bootstrap";