@import '~flatpickr';

.btn-notdark {
    background-color: #B87247;
    color: white;
    width: 180px;

}

.messageHome {
    color: white;
}

#home-pres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 550px;
    background-image:  url('../../public/images/home_pictures.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#form-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.form-input{
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;

    &::placeholder {
        color: black;
      }
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #B87247;
    border-color: #B87247;
}

.article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.card-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    display: flex;
    max-width: 320px;
    min-width: 200px;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(43, 121, 41, 60%);
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img{
        max-width:100%;
        height: 240px;
    }
}

.card, .card:hover, a.card:focus, .card:active {
    text-decoration: none;
    color: #616161;
}

.destination-title {
    color: #616161;
    margin-top: 5px;
}

#site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 600px;
    background-image: url('../../public/images/home_pictures.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.about-us-btn {
    display:block;
    background: #b87247;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.comment-card{
    width: 350px;
    background: rgba(184, 114, 71, 15%);
    border-radius: 20px;
    padding: 15px 15px 0px 15px;
}

.inset-box{
    box-shadow: inset 0 8px 8px -8px rgba(43, 43, 38, 0.7), 
                inset 0 -8px 8px -8px rgba(43, 43, 38, 0.7);
}

#social-medial-article{
    height: 350px;
    background-image:  url('../../public/images/ex-social-media.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

#social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#social-media-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio : 1 / 1;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(43, 121, 41, 0.9);
}

#newsletter-article{
    color: white;
    background-color: rgba(43, 121, 41, 50%);
}

#newsletter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}
