#payment_form {
    background-color: #998763;
    width: 50%;
    margin: 0 auto;
    padding: 2px;
}
#payment_form > div:not(#card-preview) {
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#card-preview {
    margin: .5rem;
}

.btn-valid {
    width: 100%;
}