.politique-inf {

    h1, h2 {
        text-decoration: underline;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 90px;
    }
}

.politique-inf p {
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
}


section.container-politique {
    margin-top: 50px;
    margin-bottom : 95px ; 
}
.legal-info {

    h1, h2 {

        text-decoration: underline;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 90px;
        margin-top: 20px;
    }

    h3 {
        margin-top: 20px;
        padding-left: 90px;
        color: black;
    }
}

.legal-info p {
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    margin : 0px ;
}


section.container-legal {
    margin-top: 50px;
    margin-bottom : 95px ; 
}