{{ encore_entry_link_tags('footer') }}
<div id="footer-div">
    <span>Copyright 2022 - Tout droits réservés</span>
    <a rel="Mentions légales" href="#">Mentions légales</a>
    <a rel="Confidentialités" href="#">Confidentialités</a>
</div>