<section class ="container-politique" > 

<div class="politique-inf" > 

<h4> POLITIQUE DE CONFIDENTIALITÉ  </h4> 

<p>
Ce document constitue la Politique de Confidentialité du site internet accessible sous le nom de domaine «Atypik House» (ci-après le « Site »), édité par «Atypik House» , dont le siège social se situe au  5 Rue de Lisbonne, 75008 Paris

«Atypik House» est immatriculée au Registre du commerce et des sociétés de Paris sous le numéro 521 722 519.
 </p>

<h4> Commentaires : </h4> 


<p> Lorsque les visiteurs laissent des commentaires sur le site, nous recueillons les données indiquées dans le formulaire de commentaires, ainsi que l’adresse IP du visiteur et la chaîne d’agent 
utilisateur du navigateur pour faciliter la détection des spams.
  </p> 


  <h4>Cookies : </h4> 


<p>Si vous laissez un commentaire sur notre site, vous pouvez accepter que votre nom, votre adresse électronique et votre site web soient enregistrés dans des cookies. Ces cookies vous permettent de ne pas avoir à remplir à nouveau vos coordonnées lorsque vous 
laissez un autre commentaire. Ces cookies ont une durée de vie d’un an.

Si vous visitez notre page de connexion, nous installerons un cookie temporaire pour déterminer si votre navigateur accepte les cookies. Ce cookie ne contient aucune donnée personnelle et est supprimé lorsque vous fermez votre navigateur.

Lorsque vous vous connecterez, nous installerons également plusieurs cookies pour enregistrer vos informations de connexion et vos choix d’affichage d’écran. Les cookies de connexion durent deux jours, et les cookies d’options d’écran durent un an. Si vous 
sélectionnez l’option « Se souvenir de moi », votre connexion sera conservée pendant deux semaines. Si vous vous déconnectez de votre compte, les cookies de connexion seront supprimés.

Si vous modifiez ou publiez un article, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle et indique simplement l’ID de l’article que vous venez de modifier. Il expire après 1 jour.


  </p> 



  <h4>Contenu intégré d’autres sites Web :  </h4> 


<p>

Les articles de ce site peuvent inclure du contenu intégré (par exemple des vidéos, des images, des articles, etc.). Le contenu intégré provenant d’autres sites web se comporte exactement de la même manière que si le visiteur avait visité l’autre site web.

Ces sites web peuvent collecter des données vous concernant, utiliser des cookies, intégrer un suivi supplémentaire par des tiers et surveiller votre interaction avec ce contenu intégré, y compris le suivi de votre interaction avec le contenu intégré si vous 
avez un compte et êtes connecté à ce site web.

Statistiques et mesures d’audience : 

Ce site utilise Google Analytics, un service d’analyse statistiques et de mesures d’audience de site internet fourni par Google. Google Analytics utilise des cookies pour aider le site internet à analyser l’utilisation du site par ses utilisateurs. Google 
utilise cette information dans le but d’évaluer l’utilisation du site, de compiler des rapports sur l’activité du site et à l’utilisation d’Internet.

Afin de respecter l’anonymat de nos utilisateurs, nous avons fait le choix de rendre anonymes toutes les adresses IP transmises à Google Analytics par notre site. Atypik House utilise Google Analytics pour obtenir des statistiques et mesures d’audience, dans un 
souci d’évaluation voire d’amélioration. Ces statistiques sont anonymisées et ne permettent pas de tracer l’activité individuelle des visiteurs du site.

Google est susceptible de communiquer ces données à des tiers en cas d’obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l’éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre 
donnée détenue par Google. Plus d’informations sur la politique de confidentialité de Google

Nous vous rappelons que vous pouvez désactiver l’utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur.

  </p> 


<h4> Médias :  </h4> 


<p> 
Ce site étant un projet d’études, il n’y a aucune intention commerciale dans l’utilisation des images. Les images présentes sur ce site sont issues de Google images ou Pixabay pour la plupart.


  </p> 




<h4>Crédits : </h4> 


<p> 

Le site atypik house propose quelques liens vers d’autres sites français ou étrangers. Ces pages, dont les adresses sont régulièrement vérifiées, ne font pas partie du site atypikhouse.online : elles n’engagent pas la responsabilité de la rédaction du site qui 
ne peut être tenue pour responsable des contenus vers lesquels ces liens pointent. Ils ne visent qu’à permettre à l’internaute d’accéder plus facilement à d’autres ressources documentaires sur le sujet consulté. Chaque fois, il est systématiquement précisé vers 
quel site nous vous proposons d’aller.

  </p> 



  <h4>Combien de temps conservons-nous vos données ? </h4> 


<p> 

Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela nous permet de reconnaître et d’approuver automatiquement tout commentaire ultérieur au lieu de le conserver dans une file d’attente de modération.

Pour les utilisateurs qui s’inscrivent sur notre site web (le cas échéant), nous conservons également les informations personnelles qu’ils fournissent dans leur profil d’utilisateur. Tous les utilisateurs peuvent consulter, modifier ou supprimer leurs 
informations personnelles à tout moment (sauf qu’ils ne peuvent pas changer leur nom d’utilisateur). Les administrateurs du site web peuvent également voir et modifier ces informations.

  </p> 


  
  <h4>Quels sont vos droits sur vos données ? </h4> 


<p> 

vous pouvez demander à recevoir un fichier exporté des données personnelles que nous détenons à votre sujet, y compris les données que vous nous avez fournies. Vous pouvez également nous 
demander d’effacer toutes les données personnelles que nous détenons à votre sujet.

 Cela n’inclut pas les données que nous sommes obligés de conserver à des fins administratives, juridiques ou de sécurité. Avec qui nous partageons vos données Si vous demandez une réinitialisation du mot de passe, votre adresse IP sera incluse dans l’e-mail de 
réinitialisation.
  </p> 





</div>


</section>