<h1>Vous avez oublié votre mot de passe ?</h1>

<p>
   Cela peut arriver !
</p>
<p>Afin de réinitiliser votre mot de passe cliquez sur le lien ci-dessous</p>

<p>
    <a href="{{ reset_password_link }}">réinitiliser mon mot de passe</a>
</p>